.productComparisonContainer {
    background-color: black;
    padding: 20px;
    margin: 0 auto;
}

.contrast-mode .productComparisonContainer {
    background-color: white;
    padding: 20px;
}

.comparison-title2{
    color: yellow;
}

.categorySection {
    margin-bottom: 30px;
}

.productDetails {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.productDetails:hover {
    transform: translateY(-5px);
}

.productInfo {
    margin-top: 10px;
}

.productImage {
    width: 200px;
    height: 300px;
    border-radius: 4px;
}

/* Thêm các class khác theo nhu cầu */
