.searching-box {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: black;
    display: block !important;
    overflow-y: auto;
}

.searching-box-close-button {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

/* Search.css */

.search-input {
    font-family: 'labo-bold';
    letter-spacing: 1px;
    width: 50%;
    display: block;
    margin: auto;
    font-size: 240%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    color: white;
}

.contrast-mode .search-input{
    color: black;
}
.search-input.clicked{
    color: black;
}

.search-input:focus {
    background-color: transparent;
    border-bottom: 5px solid white;
    outline: none;
    transition: border 0.3s ease;
}
.contrast-mode .search-input:focus{
    border-bottom: 5px solid black;
}


.search-result {
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    color: white;
    display: flex;
    justify-content: left;
}
.contrast-mode .search-result{
    color: black;
}

.search-result:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    /* Màu nhạt để nhấn mạnh khi hover */
    letter-spacing: 1px;
}
.contrast-mode .search-result:hover{
    color: black;
}
.search-result img {
    width: 80px; /* Đặt chiều rộng cố định */
    height: 120px; /* Đặt chiều cao cố định */
    border-radius: 10%;
    object-fit: contain; /* Đảm bảo hình ảnh nằm gọn trong khung mà không bị méo */
    object-position: center; /* Căn giữa hình ảnh trong khung của nó */
    margin-right: 15px;
    background-color: #fff; /* Màu nền cho những phần không được hình ảnh chiếm hết */
}

.search-result-info {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'labo-bold';
    color: white;
}

.product-name.clicked {
    color: black;
}

.contrast-mode .product-name {
    color: black;
}

.search-results-container {
    max-height: 300px;
    overflow-y: auto;
  }
  .product-details img {
    width: 150px; /* hoặc kích thước bạn muốn */
    height: 150px; /* hoặc kích thước bạn muốn */
    object-fit: contain; /* Đảm bảo hình ảnh nằm gọn trong khung mà không bị cắt hoặc méo */
    border-radius: 15%; /* Làm tròn góc */
    border: 2px solid var(--primary-color); /* Viền xung quanh hình ảnh */
    background-color: #fff; /* Màu nền cho khung hình, có thể thay đổi theo ý bạn */
    display: block; /* Đảm bảo hình ảnh không có khoảng trắng dưới cùng */
    margin: auto; /* Nếu bạn muốn căn giữa hình ảnh trong khung */
}

